.custom-navbar {
    background-color: rgb(0, 0, 0);
  }

  .custom-navbar .nav-link,
  .custom-navbar .navbar-brand{
    color: #ffffff !important;
    font-size: 15px;
  }

  .custom-navbar .nav-link:hover {
    color: rgb(255, 0, 242) !important;
  }

  .custom-banner {
    width: 100%;
    height: auto;
  }
  .carousel-inner img {
    height: 500px;
    object-fit: cover; 
  }
.navbar-nav{
  text-align: right;
}
.navbar .navbar-nav .nav-link{
  padding-right: 1em;
}
